* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    max-width: 600px;
    margin: 0 auto;

    margin-top: 300px;
}


#slider {
    position: relative;

    height: 400px;

    border: 6px solid gray;
    border-radius: 24px;

    overflow: hidden;
}

#slider img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

#slider img:not(.active) {
    display: none;
}

#slider #arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 12px;

    color: white;
    font-size: 1.5em;
    text-shadow: 1px 4px 3px black;


}

#slider #arrows>* {
    transform: scale(1);

    transition: transform 0.4s ease;
}

#slider #arrows>*:hover {
    cursor: pointer;

    transform: scale(1.2);
}